@import "./color_schemes/dark";

$link-color: #ffdf58;
$nav-child-link-color: #ffffff;
$sidebar-color: #3a241b00;
$body-background-color: #3a241b00;
$body-text-color: #ffffff;
$body-heading-color: #ffffff;
$code-background-color: darken(#3a241b30, 3%);
$btn-primary-color: #ffdf58;
$feedback-color: darken(#3a241b, 3%);
$table-background-color: darken(#3a241b, 3%);
$search-background-color: #3a241b;
$search-result-preview-color: #ffffff;
// $border-color: darken(#3a241b, 3%);
$border-color: #3a241b;
$base-button-color: darken(#3a241b, 3%);
$btn-primary-color: $blue-200;
$content-width: 65rem;

.youtube-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
th{
  background-color: #ffdf58;
}

body {
  background: url('/assets/background.png') no-repeat center top fixed;
  background-size: cover;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Adjust opacity as needed */
  z-index: -1;
}

.important{
  background: rgba(231, 175, 6, 0.5);
  border-left: 4px solid #ffeb82;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

.warning{
  background: rgba(221, 46, 46, 0.5);
  border-left: 4px solid #f77e7e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

.btn-alternate{
  background-color: #ffdf58;
  color: #000000;
  padding: 0.3em 1em;
  border-radius: 2px;
  // display: inline-block;
  box-sizing: border-box;
  padding: 0.3em 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}